<script type="text/javascript" src="/home.js"></script>

<div id="home" class="button-list">
  <h2>ようこそ<%= user_id %>さん！</h2>

  <p>
    WebAuthnによるログインはどうでしたか？
  </p>

  <ul>
    <li><a class="button">ログアウト</a></li>
  </ul>
</div>
