<div id="index" class="button-list">
  <h2>ようこそ！</h2>
  <p>
    ここではWebAuthnを用いたパスワードレスなサインアップとログインを試すことができます。
  </p>

  <ul>
    <li><a class="button" href="/signup">サインアップ</a></li>
    <li><a class="button" href="/login">ログイン</a></li>
  </ul>
</div>
