<script type="text/javascript" src="/login.js"></script>

<div id="login" class="has-form">
  <h2>ログイン</h2>

  <p>
    このページではサインアップ済みのユーザーIDに対するログインを行うことができます。<br>
  </p>

  <form name="login">
    <input type="text" name="user_id" placeholder="ユーザーID" />
    <button name="start" class="button">ログイン</button>
  </form>

  <p id="error"></p>
</div>
