<script type="text/javascript" src="/signup.js"></script>

<div id="signup" class="has-form">
  <h2>サインアップ</h2>

  <p>
    このページでは指定のユーザーIDを用いたサインアップを行うことができます。<br>
    3文字以上のユニークな文字列を入力してください。<br>
    入力後、「サインアップ」を押下するとブラウザによる認証ダイアログが表示され、<br>
    許可すればサインアップが完了します。
  </p>

  <form name="signup">
    <input type="text" name="user_id" placeholder="ユーザーID" />
    <button name="start" class="button">サインアップ</button>
  </form>

  <p id="error"></p>
</div>
